<a href="https://colab.research.google.com/github/M20Jay/Data-Science-Portfolio/blob/main/Predictive_Modelling_Group_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("/content/drive/MyDrive/Python Dataset/Datasets/Final Predictive Model.csv")

In [ ]:
df.head(4)

,Rating_Point,Net_Profit_Margin,ROE,Net_Profit_Total_Assets _Ratio,Cash_Total_Liabilities _Ratio,Current_Liabilities _Total_Assets _Ratio
0,3,8.33,0.13,0.07,0.04,0.17
1,3,22.26,0.28,0.11,0.13,0.25
2,3,51.03,0.42,0.17,0.31,0.24
3,2,2.39,0.15,0.06,0.10,0.36

In [ ]:
df.shape

(1577, 6)

In [ ]:
df.dtypes

 Rating_Point                                  int64
 Net_Profit_Margin                            object
ROE                                           object
 Net_Profit_Total_Assets _Ratio               object
 Cash_Total_Liabilities _Ratio                object
 Current_Liabilities _Total_Assets _Ratio    float64
dtype: object

In [ ]:
# Univariate for categorical variables- Tabular Method
df.describe()

        Rating_Point    Current_Liabilities _Total_Assets _Ratio
count     1577.000000                                1577.000000
mean         3.735574                                   0.211826
std          1.636500                                   0.333701
min          1.000000                                   0.000000
25%          3.000000                                   0.090000
50%          3.000000                                   0.170000
75%          5.000000                                   0.260000
max          9.000000                                   9.380000

In [ ]:
# Univariate for categorical variables- Graphical

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Using matplotlib backend: <object object at 0x7f22c7097470>

In [ ]:
x= df['Rating_Point']

KeyError: ignored